In [1]:
import pandas as pd

In [2]:
data_inti = pd.read_csv('Data-jakarta-inti.csv')
data_inti.head()

,Tanggal,Meninggal,Sembuh,Self Isolation,Masih Perawatan,Total Pasien,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,Bergejala,Belum Ada Data
0,1/3/2020,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,2/3/2020,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,3/3/2020,1,0,0,2,3,3,2,0,NaN,NaN,NaN
3,4/3/2020,1,0,0,2,3,0,2,0,NaN,NaN,NaN
4,5/3/2020,3,0,0,4,7,4,4,0,NaN,NaN,NaN

In [3]:
data_inti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1217 entries, 0 to 1216
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tanggal          1217 non-null   object
 1   Meninggal        1217 non-null   int64
 2   Sembuh           1217 non-null   int64
 3   Self Isolation   1217 non-null   int64
 4   Masih Perawatan  1217 non-null   int64
 5   Total Pasien     1217 non-null   int64
 6   Positif Harian   1217 non-null   int64
 7   Positif Aktif    1217 non-null   int64
 8   Sembuh Harian    1217 non-null   int64
 9   Tanpa Gejala     1077 non-null   float64
 10  Bergejala        1077 non-null   float64
 11  Belum Ada Data   1077 non-null   float64
dtypes: float64(3), int64(8), object(1)
memory usage: 114.2+ KB

In [4]:
#cek format yang betul
print(data_inti['Tanggal'][2])

3/3/2020

In [5]:
# Konversi kolom 'Tanggal' ke format datetime dengan menangkap data yang gagal dikonversi
failed_conversion = []
for index, value in data_inti['Tanggal'].items():
    try:
        pd.to_datetime(value, format="%d/%m/%Y")
    except ValueError:
        failed_conversion.append(index)

# Tampilkan indeks sel data yang memiliki format berbeda
for value in failed_conversion:
    print(data_inti['Tanggal'][value])

#diketahui perbedaan format hanya terletak pada imbuhan spasi di akhir string

13/03/2020
14/03/2020
15/03/2020
16/03/2020
17/03/2020
18/03/2020
19/03/2020
20/03/2020
21/03/2020
22/03/2020
23/03/2020
24/03/2020
25/03/2020
26/03/2020
27/03/2020
28/03/2020
29/03/2020
30/03/2020
31/03/2020
13/04/2020
14/04/2020
15/04/2020
16/04/2020
17/04/2020
18/04/2020
19/04/2020
20/04/2020
21/04/2020
22/04/2020
23/04/2020
24/04/2020
25/04/2020
26/04/2020
27/04/2020
28/04/2020
29/04/2020
30/04/2020
13/05/2020
14/05/2020
15/05/2020
16/05/2020
17/05/2020
18/05/2020
19/05/2020
20/05/2020
21/05/2020
22/05/2020
23/05/2020
24/05/2020
25/05/2020
26/05/2020
27/05/2020
28/05/2020
29/05/2020
30/05/2020
31/05/2020
13/06/2020
14/06/2020
15/06/2020
16/06/2020
17/06/2020
18/06/2020
19/06/2020
20/06/2020
21/06/2020
22/06/2020
23/06/2020
24/06/2020
25/06/2020
26/06/2020
27/06/2020
28/06/2020
29/06/2020
30/06/2020
13/07/2020
14/07/2020
15/07/2020
16/07/2020
17/07/2020
18/07/2020
19/07/2020
20/07/2020
21/07/2020
22/07/2020
23/07/2020
24/07/2020
25/07/2020
26/07/2020
27/07/2020
28/07/2020
29/07/2020
30/07/2020
31/07/2020
13/08/2020
14/08/2020
15/08/2020
16/08/2020
17/08/2020
18/08/2020
19/08/2020
20/08/2020
21/08/2020
22/08/2020
23/08/2020
24/08/2020
25/08/2020
26/08/2020
27/08/2020
28/08/2020
29/08/2020
30/08/2020
31/08/2020
13/09/2020
14/09/2020
15/09/2020
16/09/2020
17/09/2020
18/09/2020
19/09/2020
20/09/2020
21/09/2020
22/09/2020
23/09/2020
24/09/2020
25/09/2020
26/09/2020
27/09/2020
28/09/2020
29/09/2020
30/09/2020
13/10/2020
14/10/2020
15/10/2020
16/10/2020
17/10/2020
18/10/2020
19/10/2020
20/10/2020
21/10/2020
22/10/2020
23/10/2020
24/10/2020
25/10/2020
26/10/2020
27/10/2020
28/10/2020
29/10/2020
30/10/2020
31/10/2020
13/11/2020
14/11/2020
15/11/2020
16/11/2020
17/11/2020
18/11/2020
19/11/2020
20/11/2020
21/11/2020
22/11/2020
23/11/2020
24/11/2020
25/11/2020
26/11/2020
27/11/2020
28/11/2020
29/11/2020
30/11/2020
13/12/2020
14/12/2020
15/12/2020
16/12/2020
17/12/2020
18/12/2020
19/12/2020
20/12/2020
21/12/2020
22/12/2020
23/12/2020
24/12/2020
25/12/2020
26/12/2020
27/12/2020
28/12/2020
29/12/2020
30/12/2020
31/12/2020
13/01/2021
14/01/2021
15/01/2021
16/01/2021
17/01/2021
18/01/2021
19/01/2021
20/01/2021
21/01/2021
22/01/2021
23/01/2021
24/01/2021
25/01/2021
26/01/2021
27/01/2021
28/01/2021
29/01/2021
30/01/2021
31/01/2021
13/02/2021
14/02/2021
15/02/2021
16/02/2021
17/02/2021
18/02/2021
19/02/2021
20/02/2021
21/02/2021
22/02/2021
23/02/2021
24/02/2021
25/02/2021
26/02/2021
27/02/2021
28/02/2021
13/03/2021
14/03/2021
15/03/2021
16/03/2021
17/03/2021
18/03/2021
19/03/2021
20/03/2021
21/03/2021
22/03/2021
23/03/2021
24/03/2021
25/03/2021
26/03/2021
27/03/2021
28/03/2021
29/03/2021
30/03/2021
31/03/2021
13/04/2021
14/04/2021
15/04/2021
16/04/2021
17/04/2021
18/04/2021
19/04/2021
20/04/2021
21/04/2021
22/04/2021
23/04/2021
24/04/2021
25/04/2021
26/04/2021
27/04/2021
28/04/2021
29/04/2021
30/04/2021
13/05/2021
14/05/2021
15/05/2021
16/05/2021
17/05/2021
18/05/2021
19/05/2021
20/05/2021
21/05/2021
22/05/2021
23/05/2021
24/05/2021
25/05/2021
26/05/2021
27/05/2021
28/05/2021
29/05/2021
30/05/2021
31/05/2021
13/06/2021
14/06/2021
15/06/2021
16/06/2021
17/06/2021
18/06/2021
19/06/2021
20/06/2021
21/06/2021
22/06/2021
23/06/2021
24/06/2021
25/06/2021
26/06/2021
27/06/2021
28/06/2021
29/06/2021
30/06/2021
13/07/2021
14/07/2021
15/07/2021
16/07/2021
17/07/2021
18/07/2021
19/07/2021
20/07/2021
21/07/2021
22/07/2021
23/07/2021
24/07/2021
25/07/2021
26/07/2021
27/07/2021
28/07/2021
29/07/2021
30/07/2021
31/07/2021
13/08/2021
14/08/2021
15/08/2021
16/08/2021
17/08/2021
18/08/2021
19/08/2021
20/08/2021
21/08/2021
22/08/2021
23/08/2021
24/08/2021
25/08/2021
26/08/2021
27/08/2021
28/08/2021
29/08/2021
30/08/2021
31/08/2021
13/09/2021
14/09/2021
15/09/2021
16/09/2021
17/09/2021
18/09/2021
19/09/2021
20/09/2021
21/09/2021
22/09/2021
23/09/2021
24/09/2021
25/09/2021
26/09/2021
27/09/2021
28/09/2021
29/09/2021
30/09/2021
13/10/2021
14/10/2021
15/10/2021
16/10/2021
17/10/2021
18/10/2021
19/10/2021
20/10/2021
21/10/2021
22/10/2021
23/10/2021
24/10/2021
25/10/2021
26/10/2021
27/10/2021
28/10/2021
29/10/2021
30/10/2021
31/10/2021
13/11/2021
14/11/2021
15/11/2021
16/11/2021
17/11/2021
18/11/2021
19/11/2021
20/11/2021
21/11/2021
22/11/2021
23/11/2021
24/11/2021
25/11/2021
26/11/2021
27/11/2021
28/11/2021
29/11/2021
30/11/2021
13/12/2021
14/12/2021
15/12/2021
16/12/2021
17/12/2021
18/12/2021
19/12/2021
20/12/2021
21/12/2021
22/12/2021
23/12/2021
24/12/2021
25/12/2021
26/12/2021
27/12/2021
28/12/2021
29/12/2021
30/12/2021
31/12/2021
13/01/2022
14/01/2022
15/01/2022
16/01/2022
17/01/2022
18/01/2022
19/01/2022
20/01/2022
21/01/2022
22/01/2022
23/01/2022
24/01/2022
25/01/2022
26/01/2022
27/01/2022
28/01/2022
29/01/2022
30/01/2022
31/01/2022
13/02/2022
14/02/2022
15/02/2022
16/02/2022
17/02/2022
18/02/2022
19/02/2022
20/02/2022
21/02/2022
22/02/2022
23/02/2022
24/02/2022
25/02/2022
26/02/2022
27/02/2022
28/02/2022
13/03/2022
14/03/2022
15/03/2022
16/03/2022
17/03/2022
18/03/2022
19/03/2022
20/03/2022
21/03/2022
22/03/2022
23/03/2022
24/03/2022
25/03/2022
26/03/2022
27/03/2022
28/03/2022
29/03/2022
30/03/2022
31/03/2022
13/04/2022
14/04/2022
15/04/2022
16/04/2022
17/04/2022
18/04/2022
19/04/2022
20/04/2022
21/04/2022
22/04/2022
23/04/2022
24/04/2022
25/04/2022
26/04/2022
27/04/2022
28/04/2022
29/04/2022
30/04/2022
13/05/2022
14/05/2022
15/05/2022
16/05/2022
17/05/2022
18/05/2022
19/05/2022
20/05/2022
21/05/2022
22/05/2022
23/05/2022
24/05/2022
25/05/2022
26/05/2022
27/05/2022
28/05/2022
29/05/2022
30/05/2022
31/05/2022
13/06/2022
14/06/2022
15/06/2022
16/06/2022
17/06/2022
18/06/2022
19/06/2022
20/06/2022
21/06/2022
22/06/2022
23/06/2022
24/06/2022
25/06/2022
26/06/2022
27/06/2022
28/06/2022
29/06/2022
30/06/2022
13/07/2022
14/07/2022
15/07/2022
16/07/2022
17/07/2022
18/07/2022
19/07/2022
20/07/2022
21/07/2022
22/07/2022
23/07/2022
24/07/2022
25/07/2022
26/07/2022
27/07/2022
28/07/2022
29/07/2022
30/07/2022
31/07/2022
13/08/2022
14/08/2022
15/08/2022
16/08/2022
17/08/2022
18/08/2022
19/08/2022
20/08/2022
21/08/2022
22/08/2022
23/08/2022
24/08/2022
25/08/2022
26/08/2022
27/08/2022
28/08/2022
29/08/2022
30/08/2022
31/08/2022
13/09/2022
14/09/2022
15/09/2022
16/09/2022
17/09/2022
18/09/2022
19/09/2022
20/09/2022
21/09/2022
22/09/2022
23/09/2022
24/09/2022
25/09/2022
26/09/2022
27/09/2022
28/09/2022
29/09/2022
30/09/2022
13/10/2022
14/10/2022
15/10/2022
16/10/2022
17/10/2022
18/10/2022
19/10/2022
20/10/2022
21/10/2022
22/10/2022
23/10/2022
24/10/2022
25/10/2022
26/10/2022
27/10/2022
28/10/2022
29/10/2022
30/10/2022
31/10/2022
13/11/2022
14/11/2022
15/11/2022
16/11/2022
17/11/2022
18/11/2022
19/11/2022
20/11/2022
21/11/2022
22/11/2022
23/11/2022
24/11/2022
25/11/2022
26/11/2022
27/11/2022
28/11/2022
29/11/2022
30/11/2022
13/12/2022
14/12/2022
15/12/2022
16/12/2022
17/12/2022
18/12/2022
19/12/2022
20/12/2022
21/12/2022
22/12/2022
23/12/2022
24/12/2022
25/12/2022
26/12/2022
27/12/2022
28/12/2022
29/12/2022
30/12/2022
31/12/2022
13/01/2023
14/01/2023
15/01/2023
16/01/2023
17/01/2023
18/01/2023
19/01/2023
20/01/2023
21/01/2023
22/01/2023
23/01/2023
24/01/2023
25/01/2023
26/01/2023
27/01/2023
28/01/2023
29/01/2023
30/01/2023
31/01/2023
13/02/2023
14/02/2023
15/02/2023
16/02/2023
17/02/2023
18/02/2023
19/02/2023
20/02/2023
21/02/2023
22/02/2023
23/02/2023
24/02/2023
25/02/2023
26/02/2023
27/02/2023
28/02/2023
13/03/2023
14/03/2023
15/03/2023
16/03/2023
17/03/2023
18/03/2023
19/03/2023
20/03/2023
21/03/2023
22/03/2023
23/03/2023
24/03/2023
25/03/2023
26/03/2023
27/03/2023
28/03/2023
29/03/2023
30/03/2023
31/03/2023
13/04/2023
14/04/2023
15/04/2023
16/04/2023
17/04/2023
18/04/2023
19/04/2023
20/04/2023
21/04/2023
22/04/2023
23/04/2023
24/04/2023
25/04/2023
26/04/2023
27/04/2023
28/04/2023
29/04/2023
30/04/2023
13/05/2023
14/05/2023
15/05/2023
16/05/2023
17/05/2023
18/05/2023
19/05/2023
20/05/2023
21/05/2023
22/05/2023
23/05/2023
24/05/2023
25/05/2023
26/05/2023
27/05/2023
28/05/2023
29/05/2023
30/05/2023
31/05/2023
13/06/2023
14/06/2023
15/06/2023
16/06/2023
17/06/2023
18/06/2023
19/06/2023
20/06/2023
21/06/2023
22/06/2023
23/06/2023
24/06/2023
25/06/2023
26/06/2023
27/06/2023
28/06/2023
29/06/2023
30/06/2023

In [6]:
# Hapus spasi di akhir string
data_inti['Tanggal'] = data_inti['Tanggal'].str.rstrip()

In [7]:
data_inti['Tanggal'] = pd.to_datetime(data_inti['Tanggal'], format="%d/%m/%Y")

In [8]:
data_suspek = pd.read_csv('Data-Suspek.csv')
data_suspek.head()

,Tanggal,Total Discarded,Discarded-IRS,Discarded-IR,Discarded-Meninggal,Discarded-Selesai Isolasi,Total Kontak Erat,Kontak Erat-IRS,Kontak Erat-IR,Kontak Erat-Meninggal,...,Probable-IRS,Probable-IR,Probable-Meninggal,Probable-Selesai Isolasi,Total Suspek,Suspek-IRS,Suspek-IR,Suspek-Meninggal,Suspek-Selesai Isolasi,GRAND TOTAL Data-Suspek
0,17-Jul-20,5712,NaN,NaN,NaN,5712,78725,NaN,5191,NaN,...,1.0,NaN,4,37,51507,981,504,2194,47828,137780.0
1,18-Jul-20,5713,NaN,NaN,NaN,5713,80382,NaN,6531,NaN,...,NaN,NaN,4,38,52081,780,584,2194,48523,140021.0
2,19-Jul-20,5713,NaN,NaN,NaN,5713,81327,NaN,7372,NaN,...,NaN,NaN,4,38,52586,1136,610,2194,48646,141471.0
3,20-Jul-20,5713,NaN,NaN,NaN,5713,81739,NaN,5547,NaN,...,NaN,NaN,4,38,52714,1067,602,2194,48851,142017.0
4,21-Jul-20,5643,NaN,NaN,NaN,5643,82860,NaN,5934,NaN,...,NaN,NaN,4,38,52957,1158,725,2194,48880,143326.0

In [9]:
data_suspek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 27 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            1079 non-null   object
 1   Total Discarded                    1079 non-null   int64
 2   Discarded-IRS                      0 non-null      float64
 3   Discarded-IR                       6 non-null      float64
 4   Discarded-Meninggal                1070 non-null   float64
 5   Discarded-Selesai Isolasi          1079 non-null   int64
 6   Total Kontak Erat                  1079 non-null   int64
 7   Kontak Erat-IRS                    2 non-null      float64
 8   Kontak Erat-IR                     1079 non-null   int64
 9   Kontak Erat-Meninggal              0 non-null      float64
 10  Kontak Erat- Selesai Isolasi       1079 non-null   int64
 11  Total Pelaku Perjalanan            1079 non-null   int64
 12  Pelaku Perjalanan-IRS              2 non-null      float64
 13  Pelaku Perjalanan-IR               1079 non-null   int64
 14  Pelaku Perjalanan-Meninggal        0 non-null      float64
 15  Pelaku Perjalanan-Selesai Isolasi  1079 non-null   int64
 16  Total Probable                     1079 non-null   int64
 17  Probable-IRS                       1057 non-null   float64
 18  Probable-IR                        6 non-null      float64
 19  Probable-Meninggal                 1079 non-null   int64
 20  Probable-Selesai Isolasi           1079 non-null   int64
 21  Total Suspek                       1079 non-null   int64
 22  Suspek-IRS                         1079 non-null   int64
 23  Suspek-IR                          1079 non-null   int64
 24  Suspek-Meninggal                   1079 non-null   int64
 25  Suspek-Selesai Isolasi             1079 non-null   int64
 26  GRAND TOTAL Data-Suspek            1078 non-null   float64
dtypes: float64(10), int64(16), object(1)
memory usage: 227.7+ KB

In [10]:
data_suspek['Tanggal'] = pd.to_datetime(data_suspek['Tanggal'], format="%d-%b-%y")

In [11]:
# Menggabungkan data menggunakan metode left join
merged_data = pd.merge(data_inti, data_suspek, on='Tanggal', how='left')

# Mengisi nilai NaN dengan 0
merged_data = merged_data.fillna(0)

# Menyimpan hasil penggabungan ke file CSV
merged_data.to_csv('data-inti-suspek.csv', index=False)
# merged_data.head()

## merger data hasil lab dengan data-inti-suspek

In [12]:
data_inti_ver2 = pd.read_csv('data-inti-suspek.csv')
data_inti_ver2.head()

,Tanggal,Meninggal,Sembuh,Self Isolation,Masih Perawatan,Total Pasien,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,...,Probable-IRS,Probable-IR,Probable-Meninggal,Probable-Selesai Isolasi,Total Suspek,Suspek-IRS,Suspek-IR,Suspek-Meninggal,Suspek-Selesai Isolasi,GRAND TOTAL Data-Suspek
0,2020-03-01,0,0,0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-02,0,0,0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-03,1,0,0,2,3,3,2,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-04,1,0,0,2,3,0,2,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-03-05,3,0,0,4,7,4,4,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
data_lab = pd.read_csv('Hasil Lab.csv')
data_lab.head()

,Tanggal,Jumlah Orang di Test,Orang Positif Harian,Orang Negatif Harian,Positivity Rate Kasus Baru Harian,Total Spesimen di Test,Positif,Negatif,Positivity Rate Spesimen Harian,Unnamed: 9
0,29/02/2020,40,0,40,0.00%,40,0,40,0.0%,NaN
1,1/3/2020,39,0,39,0.00%,39,0,39,0.0%,NaN
2,2/3/2020,3,0,3,0.00%,3,0,3,0.0%,NaN
3,3/3/2020,15,3,12,20.00%,15,3,12,20.0%,NaN
4,4/3/2020,7,0,7,0.00%,7,0,7,0.0%,NaN

In [14]:
#menghapus kolom terakhir yang tidak terpakai
data_lab = data_lab.iloc[:, :-1]

In [15]:
data_lab.head()

,Tanggal,Jumlah Orang di Test,Orang Positif Harian,Orang Negatif Harian,Positivity Rate Kasus Baru Harian,Total Spesimen di Test,Positif,Negatif,Positivity Rate Spesimen Harian
0,29/02/2020,40,0,40,0.00%,40,0,40,0.0%
1,1/3/2020,39,0,39,0.00%,39,0,39,0.0%
2,2/3/2020,3,0,3,0.00%,3,0,3,0.0%
3,3/3/2020,15,3,12,20.00%,15,3,12,20.0%
4,4/3/2020,7,0,7,0.00%,7,0,7,0.0%

In [16]:
data_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216 entries, 0 to 1215
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            1216 non-null   object
 1   Jumlah Orang di Test               1216 non-null   int64
 2   Orang Positif Harian               1216 non-null   int64
 3   Orang Negatif Harian               1216 non-null   int64
 4   Positivity Rate Kasus Baru Harian  1216 non-null   object
 5   Total Spesimen di Test             1216 non-null   int64
 6   Positif                            1216 non-null   int64
 7   Negatif                            1216 non-null   int64
 8   Positivity Rate Spesimen Harian    1216 non-null   object
dtypes: int64(6), object(3)
memory usage: 85.6+ KB

In [17]:
data_inti_ver2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1217 entries, 0 to 1216
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            1217 non-null   object
 1   Meninggal                          1217 non-null   int64
 2   Sembuh                             1217 non-null   int64
 3   Self Isolation                     1217 non-null   int64
 4   Masih Perawatan                    1217 non-null   int64
 5   Total Pasien                       1217 non-null   int64
 6   Positif Harian                     1217 non-null   int64
 7   Positif Aktif                      1217 non-null   int64
 8   Sembuh Harian                      1217 non-null   int64
 9   Tanpa Gejala                       1217 non-null   float64
 10  Bergejala                          1217 non-null   float64
 11  Belum Ada Data                     1217 non-null   float64
 12  Total Discarded                    1217 non-null   float64
 13  Discarded-IRS                      1217 non-null   float64
 14  Discarded-IR                       1217 non-null   float64
 15  Discarded-Meninggal                1217 non-null   float64
 16  Discarded-Selesai Isolasi          1217 non-null   float64
 17  Total Kontak Erat                  1217 non-null   float64
 18  Kontak Erat-IRS                    1217 non-null   float64
 19  Kontak Erat-IR                     1217 non-null   float64
 20  Kontak Erat-Meninggal              1217 non-null   float64
 21  Kontak Erat- Selesai Isolasi       1217 non-null   float64
 22  Total Pelaku Perjalanan            1217 non-null   float64
 23  Pelaku Perjalanan-IRS              1217 non-null   float64
 24  Pelaku Perjalanan-IR               1217 non-null   float64
 25  Pelaku Perjalanan-Meninggal        1217 non-null   float64
 26  Pelaku Perjalanan-Selesai Isolasi  1217 non-null   float64
 27  Total Probable                     1217 non-null   float64
 28  Probable-IRS                       1217 non-null   float64
 29  Probable-IR                        1217 non-null   float64
 30  Probable-Meninggal                 1217 non-null   float64
 31  Probable-Selesai Isolasi           1217 non-null   float64
 32  Total Suspek                       1217 non-null   float64
 33  Suspek-IRS                         1217 non-null   float64
 34  Suspek-IR                          1217 non-null   float64
 35  Suspek-Meninggal                   1217 non-null   float64
 36  Suspek-Selesai Isolasi             1217 non-null   float64
 37  GRAND TOTAL Data-Suspek            1217 non-null   float64
dtypes: float64(29), int64(8), object(1)
memory usage: 361.4+ KB

In [18]:
data_inti_ver2['Tanggal'] = pd.to_datetime(data_inti_ver2['Tanggal'], format="%Y-%m-%d")

In [19]:
# Konversi kolom 'Tanggal' ke format datetime dengan menangkap data yang gagal dikonversi
failed_conversion = []
for index, value in data_lab['Tanggal'].items():
    try:
        pd.to_datetime(value, format="%d/%m/%Y")
    except ValueError:
        failed_conversion.append(index)

# Tampilkan indeks sel data yang memiliki format berbeda
for value in failed_conversion:
    print(data_lab['Tanggal'][value])

# diketahui perbedaan format : spasi di akhir string dan tambahan nol pada bulan

29/02/2020
13/03/2020
14/03/2020
15/03/2020
16/03/2020
17/03/2020
18/03/2020
19/03/2020
20/03/2020
21/03/2020
22/03/2020
23/03/2020
24/03/2020
25/03/2020
26/03/2020
27/03/2020
28/03/2020
29/03/2020
30/03/2020
31/03/2020
13/04/2020
14/04/2020
15/04/2020
16/04/2020
17/04/2020
18/04/2020
19/04/2020
20/04/2020
21/04/2020
22/04/2020
23/04/2020
24/04/2020
25/04/2020
26/04/2020
27/04/2020
28/04/2020
29/04/2020
30/04/2020
13/05/2020
14/05/2020
15/05/2020
16/05/2020
17/05/2020
18/05/2020
19/05/2020
20/05/2020
21/05/2020
22/05/2020
23/05/2020
24/05/2020
25/05/2020
26/05/2020
27/05/2020
28/05/2020
29/05/2020
30/05/2020
31/05/2020
13/06/2020
14/06/2020
15/06/2020
16/06/2020
17/06/2020
18/06/2020
19/06/2020
20/06/2020
21/06/2020
22/06/2020
23/06/2020
24/06/2020
25/06/2020
26/06/2020
27/06/2020
28/06/2020
29/06/2020
30/06/2020
13/07/2020
14/07/2020
15/07/2020
16/07/2020
17/07/2020
18/07/2020
19/07/2020
20/07/2020
21/07/2020
22/07/2020
23/07/2020
24/07/2020
25/07/2020
26/07/2020
27/07/2020
28/07/2020
29/07/2020
30/07/2020
31/07/2020
13/08/2020
14/08/2020
15/08/2020
16/08/2020
17/08/2020
18/08/2020
19/08/2020
20/08/2020
21/08/2020
22/08/2020
23/08/2020
24/08/2020
25/08/2020
26/08/2020
27/08/2020
28/08/2020
29/08/2020
30/08/2020
31/08/2020
13/09/2020
14/09/2020
15/09/2020
16/09/2020
17/09/2020
18/09/2020
19/09/2020
20/09/2020
21/09/2020
22/09/2020
23/09/2020
24/09/2020
25/09/2020
26/09/2020
27/09/2020
28/09/2020
29/09/2020
30/09/2020
13/10/2020
14/10/2020
15/10/2020
16/10/2020
17/10/2020
18/10/2020
19/10/2020
20/10/2020
21/10/2020
22/10/2020
23/10/2020
24/10/2020
25/10/2020
26/10/2020
27/10/2020
28/10/2020
29/10/2020
30/10/2020
31/10/2020
13/11/2020
14/11/2020
15/11/2020
16/11/2020
17/11/2020
18/11/2020
19/11/2020
20/11/2020
21/11/2020
22/11/2020
23/11/2020
24/11/2020
25/11/2020
26/11/2020
27/11/2020
28/11/2020
29/11/2020
30/11/2020
13/12/2020
14/12/2020
15/12/2020
16/12/2020
17/12/2020
18/12/2020
19/12/2020
20/12/2020
21/12/2020
22/12/2020
23/12/2020
24/12/2020
25/12/2020
26/12/2020
27/12/2020
28/12/2020
29/12/2020
30/12/2020
31/12/2020
13/01/2021
14/01/2021
15/01/2021
16/01/2021
17/01/2021
18/01/2021
19/01/2021
20/01/2021
21/01/2021
22/01/2021
23/01/2021
24/01/2021
25/01/2021
26/01/2021
27/01/2021
28/01/2021
29/01/2021
30/01/2021
31/01/2021
13/02/2021
14/02/2021
15/02/2021
16/02/2021
17/02/2021
18/02/2021
19/02/2021
20/02/2021
21/02/2021
22/02/2021
23/02/2021
24/02/2021
25/02/2021
26/02/2021
27/02/2021
28/02/2021
13/03/2021
14/03/2021
15/03/2021
16/03/2021
17/03/2021
18/03/2021
19/03/2021
20/03/2021
21/03/2021
22/03/2021
23/03/2021
24/03/2021
25/03/2021
26/03/2021
27/03/2021
28/03/2021
29/03/2021
30/03/2021
31/03/2021
13/04/2021
14/04/2021
15/04/2021
16/04/2021
17/04/2021
18/04/2021
19/04/2021
20/04/2021
21/04/2021
22/04/2021
23/04/2021
24/04/2021
25/04/2021
26/04/2021
27/04/2021
28/04/2021
29/04/2021
30/04/2021
13/05/2021
14/05/2021
15/05/2021
16/05/2021
17/05/2021
18/05/2021
19/05/2021
20/05/2021
21/05/2021
22/05/2021
23/05/2021
24/05/2021
25/05/2021
26/05/2021
27/05/2021
28/05/2021
29/05/2021
30/05/2021
31/05/2021
13/06/2021
14/06/2021
15/06/2021
16/06/2021
17/06/2021
18/06/2021
19/06/2021
20/06/2021
21/06/2021
22/06/2021
23/06/2021
24/06/2021
25/06/2021
26/06/2021
27/06/2021
28/06/2021
29/06/2021
30/06/2021
13/07/2021
14/07/2021
15/07/2021
16/07/2021
17/07/2021
18/07/2021
19/07/2021
20/07/2021
21/07/2021
22/07/2021
23/07/2021
24/07/2021
25/07/2021
26/07/2021
27/07/2021
28/07/2021
29/07/2021
30/07/2021
31/07/2021
13/08/2021
14/08/2021
15/08/2021
16/08/2021
17/08/2021
18/08/2021
19/08/2021
20/08/2021
21/08/2021
22/08/2021
23/08/2021
24/08/2021
25/08/2021
26/08/2021
27/08/2021
28/08/2021
29/08/2021
30/08/2021
31/08/2021
13/09/2021
14/09/2021
15/09/2021
16/09/2021
17/09/2021
18/09/2021
19/09/2021
20/09/2021
21/09/2021
22/09/2021
23/09/2021
24/09/2021
25/09/2021
26/09/2021
27/09/2021
28/09/2021
29/09/2021
30/09/2021
13/10/2021
14/10/2021
15/10/2021
16/10/2021
17/10/2021
18/10/2021
19/10/2021
20/10/2021
21/10/2021
22/10/2021
23/10/2021
24/10/2021
25/10/2021
26/10/2021
27/10/2021
28/10/2021
29/10/2021
30/10/2021
31/10/2021
13/11/2021
14/11/2021
15/11/2021
16/11/2021
17/11/2021
18/11/2021
19/11/2021
20/11/2021
21/11/2021
22/11/2021
23/11/2021
24/11/2021
25/11/2021
26/11/2021
27/11/2021
28/11/2021
29/11/2021
30/11/2021
13/12/2021
14/12/2021
15/12/2021
16/12/2021
17/12/2021
18/12/2021
19/12/2021
20/12/2021
21/12/2021
22/12/2021
23/12/2021
24/12/2021
25/12/2021
26/12/2021
27/12/2021
28/12/2021
29/12/2021
30/12/2021
31/12/2021
13/01/2022
14/01/2022
15/01/2022
16/01/2022
17/01/2022
18/01/2022
19/01/2022
20/01/2022
21/01/2022
22/01/2022
23/01/2022
24/01/2022
25/01/2022
26/01/2022
27/01/2022
28/01/2022
29/01/2022
30/01/2022
31/01/2022
13/02/2022
14/02/2022
15/02/2022
16/02/2022
17/02/2022
18/02/2022
19/02/2022
20/02/2022
21/02/2022
22/02/2022
23/02/2022
24/02/2022
25/02/2022
26/02/2022
27/02/2022
28/02/2022
13/03/2022
14/03/2022
15/03/2022
16/03/2022
17/03/2022
18/03/2022
19/03/2022
20/03/2022
21/03/2022
22/03/2022
23/03/2022
24/03/2022
25/03/2022
26/03/2022
27/03/2022
28/03/2022
29/03/2022
30/03/2022
31/03/2022
13/04/2022
14/04/2022
15/04/2022
16/04/2022
17/04/2022
18/04/2022
19/04/2022
20/04/2022
21/04/2022
22/04/2022
23/04/2022
24/04/2022
25/04/2022
26/04/2022
27/04/2022
28/04/2022
29/04/2022
30/04/2022
13/05/2022
14/05/2022
15/05/2022
16/05/2022
17/05/2022
18/05/2022
19/05/2022
20/05/2022
21/05/2022
22/05/2022
23/05/2022
24/05/2022
25/05/2022
26/05/2022
27/05/2022
28/05/2022
29/05/2022
30/05/2022
31/05/2022
13/06/2022
14/06/2022
15/06/2022
16/06/2022
17/06/2022
18/06/2022
19/06/2022
20/06/2022
21/06/2022
22/06/2022
23/06/2022
24/06/2022
25/06/2022
26/06/2022
27/06/2022
28/06/2022
29/06/2022
30/06/2022
13/07/2022
14/07/2022
15/07/2022
16/07/2022
17/07/2022
18/07/2022
19/07/2022
20/07/2022
21/07/2022
22/07/2022
23/07/2022
24/07/2022
25/07/2022
26/07/2022
27/07/2022
28/07/2022
29/07/2022
30/07/2022
31/07/2022
13/08/2022
14/08/2022
15/08/2022
16/08/2022
17/08/2022
18/08/2022
19/08/2022
20/08/2022
21/08/2022
22/08/2022
23/08/2022
24/08/2022
25/08/2022
26/08/2022
27/08/2022
28/08/2022
29/08/2022
30/08/2022
31/08/2022
13/09/2022
14/09/2022
15/09/2022
16/09/2022
17/09/2022
18/09/2022
19/09/2022
20/09/2022
21/09/2022
22/09/2022
23/09/2022
24/09/2022
25/09/2022
26/09/2022
27/09/2022
28/09/2022
29/09/2022
30/09/2022
13/10/2022
14/10/2022
15/10/2022
16/10/2022
17/10/2022
18/10/2022
19/10/2022
20/10/2022
21/10/2022
22/10/2022
23/10/2022
24/10/2022
25/10/2022
26/10/2022
27/10/2022
28/10/2022
29/10/2022
30/10/2022
31/10/2022
13/11/2022
14/11/2022
15/11/2022
16/11/2022
17/11/2022
18/11/2022
19/11/2022
20/11/2022
21/11/2022
22/11/2022
23/11/2022
24/11/2022
25/11/2022
26/11/2022
27/11/2022
28/11/2022
29/11/2022
30/11/2022
13/12/2022
14/12/2022
15/12/2022
16/12/2022
17/12/2022
18/12/2022
19/12/2022
20/12/2022
21/12/2022
22/12/2022
23/12/2022
24/12/2022
25/12/2022
26/12/2022
27/12/2022
28/12/2022
29/12/2022
30/12/2022
31/12/2022
13/01/2023
14/01/2023
15/01/2023
16/01/2023
17/01/2023
18/01/2023
19/01/2023
20/01/2023
21/01/2023
22/01/2023
23/01/2023
24/01/2023
25/01/2023
26/01/2023
27/01/2023
28/01/2023
29/01/2023
30/01/2023
31/01/2023
13/02/2023
14/02/2023
15/02/2023
16/02/2023
13/03/2023
14/03/2023
15/03/2023
16/03/2023
17/03/2023
18/03/2023
19/03/2023
20/03/2023
21/03/2023
22/03/2023
23/03/2023
24/03/2023
25/03/2023
26/03/2023
27/03/2023
28/03/2023
29/03/2023
30/03/2023
31/03/2023
13/04/2023
14/04/2023
15/04/2023
16/04/2023
17/04/2023
18/04/2023
19/04/2023
20/04/2023
21/04/2023
22/04/2023
23/04/2023
24/04/2023
25/04/2023
26/04/2023
27/04/2023
28/04/2023
29/04/2023
30/04/2023
13/05/2023
14/05/2023
15/05/2023
16/05/2023
17/05/2023
18/05/2023
19/05/2023
20/05/2023
21/05/2023
22/05/2023
23/05/2023
24/05/2023
25/05/2023
26/05/2023
27/05/2023
28/05/2023
29/05/2023
30/05/2023
31/05/2023
13/06/2023
14/06/2023
15/06/2023
16/06/2023
17/06/2023
18/06/2023
19/06/2023
20/06/2023
21/06/2023
22/06/2023
23/06/2023
24/06/2023
25/06/2023
26/06/2023
27/06/2023
28/06/2023
29/06/2023

In [20]:
#cek data yang benar
print(data_lab['Tanggal'][2])

2/3/2020

In [21]:
# Hapus spasi di akhir string
data_lab['Tanggal'] = data_lab['Tanggal'].str.rstrip()

In [22]:
data_lab['Tanggal'] = pd.to_datetime(data_lab['Tanggal'], format="%d/%m/%Y", dayfirst=True)

In [23]:
# Menggabungkan data menggunakan metode left join
merged_data = pd.merge(data_inti_ver2, data_lab, on='Tanggal', how='left')

# Mengisi nilai NaN dengan 0
merged_data = merged_data.fillna(0)

# Menyimpan hasil penggabungan ke file CSV
merged_data.to_csv('data-inti-v2-lab.csv', index=False)
# merged_data.head()

## merge data pemakaman dengan data-inti-v2-lab

In [24]:
data_pemakaman = pd.read_csv('Pemakaman.csv')
data_pemakaman.head()

,Tanggal,Jumlah Laporan Pemakaman,Akumulasi Pemakaman,Harian Pemakaman Umum,Total Pemakaman Umum
0,1/3/2020,0.0,0,150,150
1,2/3/2020,0.0,0,136,286
2,3/3/2020,0.0,0,135,421
3,4/3/2020,0.0,0,116,537
4,5/3/2020,0.0,0,124,661

In [25]:
data_pemakaman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tanggal                   810 non-null    object
 1   Jumlah Laporan Pemakaman  765 non-null    float64
 2   Akumulasi Pemakaman       810 non-null    int64
 3   Harian Pemakaman Umum     810 non-null    int64
 4   Total Pemakaman Umum      810 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 31.8+ KB

In [26]:
data_pemakaman['Tanggal'] = pd.to_datetime(data_pemakaman['Tanggal'], format="%d/%m/%Y")

In [27]:
data_inti_ver3 = pd.read_csv('data-inti-v2-lab.csv')
data_inti_ver3.head()

,Tanggal,Meninggal,Sembuh,Self Isolation,Masih Perawatan,Total Pasien,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,...,Suspek-Selesai Isolasi,GRAND TOTAL Data-Suspek,Jumlah Orang di Test,Orang Positif Harian,Orang Negatif Harian,Positivity Rate Kasus Baru Harian,Total Spesimen di Test,Positif,Negatif,Positivity Rate Spesimen Harian
0,2020-03-01,0,0,0,0,0,0,0,0,0.0,...,0.0,0.0,39.0,0.0,39.0,0.00%,39.0,0.0,39.0,0.0%
1,2020-03-02,0,0,0,0,0,0,0,0,0.0,...,0.0,0.0,3.0,0.0,3.0,0.00%,3.0,0.0,3.0,0.0%
2,2020-03-03,1,0,0,2,3,3,2,0,0.0,...,0.0,0.0,15.0,3.0,12.0,20.00%,15.0,3.0,12.0,20.0%
3,2020-03-04,1,0,0,2,3,0,2,0,0.0,...,0.0,0.0,7.0,0.0,7.0,0.00%,7.0,0.0,7.0,0.0%
4,2020-03-05,3,0,0,4,7,4,4,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0

In [28]:
data_inti_ver3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            1218 non-null   object
 1   Meninggal                          1218 non-null   int64
 2   Sembuh                             1218 non-null   int64
 3   Self Isolation                     1218 non-null   int64
 4   Masih Perawatan                    1218 non-null   int64
 5   Total Pasien                       1218 non-null   int64
 6   Positif Harian                     1218 non-null   int64
 7   Positif Aktif                      1218 non-null   int64
 8   Sembuh Harian                      1218 non-null   int64
 9   Tanpa Gejala                       1218 non-null   float64
 10  Bergejala                          1218 non-null   float64
 11  Belum Ada Data                     1218 non-null   float64
 12  Total Discarded                    1218 non-null   float64
 13  Discarded-IRS                      1218 non-null   float64
 14  Discarded-IR                       1218 non-null   float64
 15  Discarded-Meninggal                1218 non-null   float64
 16  Discarded-Selesai Isolasi          1218 non-null   float64
 17  Total Kontak Erat                  1218 non-null   float64
 18  Kontak Erat-IRS                    1218 non-null   float64
 19  Kontak Erat-IR                     1218 non-null   float64
 20  Kontak Erat-Meninggal              1218 non-null   float64
 21  Kontak Erat- Selesai Isolasi       1218 non-null   float64
 22  Total Pelaku Perjalanan            1218 non-null   float64
 23  Pelaku Perjalanan-IRS              1218 non-null   float64
 24  Pelaku Perjalanan-IR               1218 non-null   float64
 25  Pelaku Perjalanan-Meninggal        1218 non-null   float64
 26  Pelaku Perjalanan-Selesai Isolasi  1218 non-null   float64
 27  Total Probable                     1218 non-null   float64
 28  Probable-IRS                       1218 non-null   float64
 29  Probable-IR                        1218 non-null   float64
 30  Probable-Meninggal                 1218 non-null   float64
 31  Probable-Selesai Isolasi           1218 non-null   float64
 32  Total Suspek                       1218 non-null   float64
 33  Suspek-IRS                         1218 non-null   float64
 34  Suspek-IR                          1218 non-null   float64
 35  Suspek-Meninggal                   1218 non-null   float64
 36  Suspek-Selesai Isolasi             1218 non-null   float64
 37  GRAND TOTAL Data-Suspek            1218 non-null   float64
 38  Jumlah Orang di Test               1218 non-null   float64
 39  Orang Positif Harian               1218 non-null   float64
 40  Orang Negatif Harian               1218 non-null   float64
 41  Positivity Rate Kasus Baru Harian  1218 non-null   object
 42  Total Spesimen di Test             1218 non-null   float64
 43  Positif                            1218 non-null   float64
 44  Negatif                            1218 non-null   float64
 45  Positivity Rate Spesimen Harian    1218 non-null   object
dtypes: float64(35), int64(8), object(3)
memory usage: 437.8+ KB

In [29]:
data_inti_ver3['Tanggal'] = pd.to_datetime(data_inti_ver3['Tanggal'], format="%Y-%m-%d")

In [30]:
# Menggabungkan data menggunakan metode left join
merged_data = pd.merge(data_inti_ver3, data_pemakaman, on='Tanggal', how='left')

# Mengisi nilai NaN dengan 0
merged_data = merged_data.fillna(0)

# Menyimpan hasil penggabungan ke file CSV
merged_data.to_csv('data-inti-v3-pemakaman.csv', index=False)
# merged_data.head()

## merge data RDT-ab dengan data-inti-v3-pemakaman

In [31]:
data_rdt = pd.read_csv('RDT-ab.csv')
data_rdt.head()

       Tanggal  Reaktif  Non-Reaktif  Total Reaktif Positivity Rate
0  27/03/2020       124        10839  10963                   1.13%
1  28/03/2020       149        11858  12007                   1.24%
2  29/03/2020       206        14808  15014                   1.37%
3  30/03/2020       290        17619  17909                   1.62%
4  31/03/2020       307        18242  18549                   1.66%

In [32]:
data_rdt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Tanggal                  1190 non-null   object
 1   Reaktif                  1190 non-null   int64
 2   Non-Reaktif              1190 non-null   int64
 3   Total                    1190 non-null   int64
 4   Reaktif Positivity Rate  1190 non-null   object
dtypes: int64(3), object(2)
memory usage: 46.6+ KB

In [33]:
# Konversi kolom 'Tanggal' ke format datetime dengan menangkap data yang gagal dikonversi
failed_conversion = []
for index, value in data_rdt['Tanggal'].items():
    try:
        pd.to_datetime(value, format="%d/%m/%Y")
    except ValueError:
        failed_conversion.append(index)

# Tampilkan indeks sel data yang memiliki format berbeda
for value in failed_conversion:
    print(data_rdt['Tanggal'][value])

#diketahui kesalahan format hanya terletak pada imbuhan spasi di akhir string

27/03/2020
28/03/2020
29/03/2020
30/03/2020
31/03/2020
13/04/2020
14/04/2020
15/04/2020
16/04/2020
17/04/2020
18/04/2020
19/04/2020
20/04/2020
21/04/2020
22/04/2020
23/04/2020
24/04/2020
25/04/2020
26/04/2020
27/04/2020
28/04/2020
29/04/2020
30/04/2020
13/05/2020
14/05/2020
15/05/2020
16/05/2020
17/05/2020
18/05/2020
19/05/2020
20/05/2020
21/05/2020
22/05/2020
23/05/2020
24/05/2020
25/05/2020
26/05/2020
27/05/2020
28/05/2020
29/05/2020
30/05/2020
31/05/2020
13/06/2020
14/06/2020
15/06/2020
16/06/2020
17/06/2020
18/06/2020
19/06/2020
20/06/2020
21/06/2020
22/06/2020
23/06/2020
24/06/2020
25/06/2020
26/06/2020
27/06/2020
28/06/2020
29/06/2020
30/06/2020
13/07/2020
14/07/2020
15/07/2020
16/07/2020
17/07/2020
18/07/2020
19/07/2020
20/07/2020
21/07/2020
22/07/2020
23/07/2020
24/07/2020
25/07/2020
26/07/2020
27/07/2020
28/07/2020
29/07/2020
30/07/2020
31/07/2020
13/08/2020
14/08/2020
15/08/2020
16/08/2020
17/08/2020
18/08/2020
19/08/2020
20/08/2020
21/08/2020
22/08/2020
23/08/2020
24/08/2020
25/08/2020
26/08/2020
27/08/2020
28/08/2020
29/08/2020
30/08/2020
31/08/2020
13/09/2020
14/09/2020
15/09/2020
16/09/2020
17/09/2020
18/09/2020
19/09/2020
20/09/2020
21/09/2020
22/09/2020
23/09/2020
24/09/2020
25/09/2020
26/09/2020
27/09/2020
28/09/2020
29/09/2020
30/09/2020
13/10/2020
14/10/2020
15/10/2020
16/10/2020
17/10/2020
18/10/2020
19/10/2020
20/10/2020
21/10/2020
22/10/2020
23/10/2020
24/10/2020
25/10/2020
26/10/2020
27/10/2020
28/10/2020
29/10/2020
30/10/2020
31/10/2020
13/11/2020
14/11/2020
15/11/2020
16/11/2020
17/11/2020
18/11/2020
19/11/2020
20/11/2020
21/11/2020
22/11/2020
23/11/2020
24/11/2020
25/11/2020
26/11/2020
27/11/2020
28/11/2020
29/11/2020
30/11/2020
13/12/2020
14/12/2020
15/12/2020
16/12/2020
17/12/2020
18/12/2020
19/12/2020
20/12/2020
21/12/2020
22/12/2020
23/12/2020
24/12/2020
25/12/2020
26/12/2020
27/12/2020
28/12/2020
29/12/2020
30/12/2020
31/12/2020
13/01/2021
14/01/2021
15/01/2021
16/01/2021
17/01/2021
18/01/2021
19/01/2021
20/01/2021
21/01/2021
22/01/2021
23/01/2021
24/01/2021
25/01/2021
26/01/2021
27/01/2021
28/01/2021
29/01/2021
30/01/2021
31/01/2021
13/02/2021
14/02/2021
15/02/2021
16/02/2021
17/02/2021
18/02/2021
19/02/2021
20/02/2021
21/02/2021
22/02/2021
23/02/2021
24/02/2021
25/02/2021
26/02/2021
27/02/2021
28/02/2021
13/03/2021
14/03/2021
15/03/2021
16/03/2021
17/03/2021
18/03/2021
19/03/2021
20/03/2021
21/03/2021
22/03/2021
23/03/2021
24/03/2021
25/03/2021
26/03/2021
27/03/2021
28/03/2021
29/03/2021
30/03/2021
31/03/2021
13/04/2021
14/04/2021
15/04/2021
16/04/2021
17/04/2021
18/04/2021
19/04/2021
20/04/2021
21/04/2021
22/04/2021
23/04/2021
24/04/2021
25/04/2021
26/04/2021
27/04/2021
28/04/2021
29/04/2021
30/04/2021
13/05/2021
14/05/2021
15/05/2021
16/05/2021
17/05/2021
18/05/2021
19/05/2021
20/05/2021
21/05/2021
22/05/2021
23/05/2021
24/05/2021
25/05/2021
26/05/2021
27/05/2021
28/05/2021
29/05/2021
30/05/2021
31/05/2021
13/06/2021
14/06/2021
15/06/2021
16/06/2021
17/06/2021
18/06/2021
19/06/2021
20/06/2021
21/06/2021
22/06/2021
23/06/2021
24/06/2021
25/06/2021
26/06/2021
27/06/2021
28/06/2021
29/06/2021
30/06/2021
13/07/2021
14/07/2021
15/07/2021
16/07/2021
17/07/2021
18/07/2021
19/07/2021
20/07/2021
21/07/2021
22/07/2021
23/07/2021
24/07/2021
25/07/2021
26/07/2021
27/07/2021
28/07/2021
29/07/2021
30/07/2021
31/07/2021
13/08/2021
14/08/2021
15/08/2021
16/08/2021
17/08/2021
18/08/2021
19/08/2021
20/08/2021
21/08/2021
22/08/2021
23/08/2021
24/08/2021
25/08/2021
26/08/2021
27/08/2021
28/08/2021
29/08/2021
30/08/2021
31/08/2021
13/09/2021
14/09/2021
15/09/2021
16/09/2021
17/09/2021
18/09/2021
19/09/2021
20/09/2021
21/09/2021
22/09/2021
23/09/2021
24/09/2021
25/09/2021
26/09/2021
27/09/2021
28/09/2021
29/09/2021
30/09/2021
13/10/2021
14/10/2021
15/10/2021
16/10/2021
17/10/2021
18/10/2021
19/10/2021
20/10/2021
21/10/2021
22/10/2021
23/10/2021
24/10/2021
25/10/2021
26/10/2021
27/10/2021
28/10/2021
29/10/2021
30/10/2021
31/10/2021
13/11/2021
14/11/2021
15/11/2021
16/11/2021
17/11/2021
18/11/2021
19/11/2021
20/11/2021
21/11/2021
22/11/2021
23/11/2021
24/11/2021
25/11/2021
26/11/2021
27/11/2021
28/11/2021
29/11/2021
30/11/2021
13/12/2021
14/12/2021
15/12/2021
16/12/2021
17/12/2021
18/12/2021
19/12/2021
20/12/2021
21/12/2021
22/12/2021
23/12/2021
24/12/2021
25/12/2021
26/12/2021
27/12/2021
28/12/2021
29/12/2021
30/12/2021
31/12/2021
13/01/2022
14/01/2022
15/01/2022
16/01/2022
17/01/2022
18/01/2022
19/01/2022
20/01/2022
21/01/2022
22/01/2022
23/01/2022
24/01/2022
25/01/2022
26/01/2022
27/01/2022
28/01/2022
29/01/2022
30/01/2022
31/01/2022
13/02/2022
14/02/2022
15/02/2022
16/02/2022
17/02/2022
18/02/2022
19/02/2022
20/02/2022
21/02/2022
22/02/2022
23/02/2022
24/02/2022
25/02/2022
26/02/2022
27/02/2022
28/02/2022
13/03/2022
14/03/2022
15/03/2022
16/03/2022
17/03/2022
18/03/2022
19/03/2022
20/03/2022
21/03/2022
22/03/2022
23/03/2022
24/03/2022
25/03/2022
26/03/2022
27/03/2022
28/03/2022
29/03/2022
30/03/2022
31/03/2022
13/04/2022
14/04/2022
15/04/2022
16/04/2022
17/04/2022
18/04/2022
19/04/2022
20/04/2022
21/04/2022
22/04/2022
23/04/2022
24/04/2022
25/04/2022
26/04/2022
27/04/2022
28/04/2022
29/04/2022
30/04/2022
13/05/2022
14/05/2022
15/05/2022
16/05/2022
17/05/2022
18/05/2022
19/05/2022
20/05/2022
21/05/2022
22/05/2022
23/05/2022
24/05/2022
25/05/2022
26/05/2022
27/05/2022
28/05/2022
29/05/2022
30/05/2022
31/05/2022
13/06/2022
14/06/2022
15/06/2022
16/06/2022
17/06/2022
18/06/2022
19/06/2022
20/06/2022
21/06/2022
22/06/2022
23/06/2022
24/06/2022
25/06/2022
26/06/2022
27/06/2022
28/06/2022
29/06/2022
30/06/2022
13/07/2022
14/07/2022
15/07/2022
16/07/2022
17/07/2022
18/07/2022
19/07/2022
20/07/2022
21/07/2022
22/07/2022
23/07/2022
24/07/2022
25/07/2022
26/07/2022
27/07/2022
28/07/2022
29/07/2022
30/07/2022
31/07/2022
13/08/2022
14/08/2022
15/08/2022
16/08/2022
17/08/2022
18/08/2022
19/08/2022
20/08/2022
21/08/2022
22/08/2022
23/08/2022
24/08/2022
25/08/2022
26/08/2022
27/08/2022
28/08/2022
29/08/2022
30/08/2022
31/08/2022
13/09/2022
14/09/2022
15/09/2022
16/09/2022
17/09/2022
18/09/2022
19/09/2022
20/09/2022
21/09/2022
22/09/2022
23/09/2022
24/09/2022
25/09/2022
26/09/2022
27/09/2022
28/09/2022
29/09/2022
30/09/2022
13/10/2022
14/10/2022
15/10/2022
16/10/2022
17/10/2022
18/10/2022
19/10/2022
20/10/2022
21/10/2022
22/10/2022
23/10/2022
24/10/2022
25/10/2022
26/10/2022
27/10/2022
28/10/2022
29/10/2022
30/10/2022
31/10/2022
13/11/2022
14/11/2022
15/11/2022
16/11/2022
17/11/2022
18/11/2022
19/11/2022
20/11/2022
21/11/2022
22/11/2022
23/11/2022
24/11/2022
25/11/2022
26/11/2022
27/11/2022
28/11/2022
29/11/2022
30/11/2022
13/12/2022
14/12/2022
15/12/2022
16/12/2022
17/12/2022
18/12/2022
19/12/2022
20/12/2022
21/12/2022
22/12/2022
23/12/2022
24/12/2022
25/12/2022
26/12/2022
27/12/2022
28/12/2022
29/12/2022
30/12/2022
31/12/2022
13/01/2023
14/01/2023
15/01/2023
16/01/2023
17/01/2023
18/01/2023
19/01/2023
20/01/2023
21/01/2023
22/01/2023
23/01/2023
24/01/2023
25/01/2023
26/01/2023
27/01/2023
28/01/2023
29/01/2023
30/01/2023
31/01/2023
13/02/2023
14/02/2023
15/02/2023
16/02/2023
17/02/2023
18/02/2023
19/02/2023
20/02/2023
21/02/2023
22/02/2023
23/02/2023
24/02/2023
25/02/2023
26/02/2023
27/02/2023
28/02/2023
13/03/2023
14/03/2023
15/03/2023
16/03/2023
17/03/2023
18/03/2023
19/03/2023
20/03/2023
21/03/2023
22/03/2023
23/03/2023
24/03/2023
25/03/2023
26/03/2023
27/03/2023
28/03/2023
29/03/2023
30/03/2023
31/03/2023
13/04/2023
14/04/2023
15/04/2023
16/04/2023
17/04/2023
18/04/2023
19/04/2023
20/04/2023
21/04/2023
22/04/2023
23/04/2023
24/04/2023
25/04/2023
26/04/2023
27/04/2023
28/04/2023
29/04/2023
30/04/2023
13/05/2023
14/05/2023
15/05/2023
16/05/2023
17/05/2023
18/05/2023
19/05/2023
20/05/2023
21/05/2023
22/05/2023
23/05/2023
24/05/2023
25/05/2023
26/05/2023
27/05/2023
28/05/2023
29/05/2023
30/05/2023
31/05/2023
13/06/2023
14/06/2023
15/06/2023
16/06/2023
17/06/2023
18/06/2023
19/06/2023
20/06/2023
21/06/2023
22/06/2023
23/06/2023
24/06/2023
25/06/2023
26/06/2023
27/06/2023
28/06/2023
29/06/2023

In [34]:
# Hapus spasi di akhir string
data_rdt['Tanggal'] = data_rdt['Tanggal'].str.rstrip()

In [35]:
data_rdt['Tanggal'] = pd.to_datetime(data_rdt['Tanggal'], format="%d/%m/%Y", dayfirst=True)

In [36]:
# read data-inti-v3-pemakaman.csv
data_inti_ver4 = pd.read_csv('data-inti-v3-pemakaman.csv')
data_inti_ver4.head()

,Tanggal,Meninggal,Sembuh,Self Isolation,Masih Perawatan,Total Pasien,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,...,Orang Negatif Harian,Positivity Rate Kasus Baru Harian,Total Spesimen di Test,Positif,Negatif,Positivity Rate Spesimen Harian,Jumlah Laporan Pemakaman,Akumulasi Pemakaman,Harian Pemakaman Umum,Total Pemakaman Umum
0,2020-03-01,0,0,0,0,0,0,0,0,0.0,...,39.0,0.00%,39.0,0.0,39.0,0.0%,0.0,0.0,150.0,150.0
1,2020-03-02,0,0,0,0,0,0,0,0,0.0,...,3.0,0.00%,3.0,0.0,3.0,0.0%,0.0,0.0,136.0,286.0
2,2020-03-03,1,0,0,2,3,3,2,0,0.0,...,12.0,20.00%,15.0,3.0,12.0,20.0%,0.0,0.0,135.0,421.0
3,2020-03-04,1,0,0,2,3,0,2,0,0.0,...,7.0,0.00%,7.0,0.0,7.0,0.0%,0.0,0.0,116.0,537.0
4,2020-03-05,3,0,0,4,7,4,4,0,0.0,...,0.0,0,0.0,0.0,0.0,0,0.0,0.0,124.0,661.0

In [37]:
data_inti_ver4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            1218 non-null   object
 1   Meninggal                          1218 non-null   int64
 2   Sembuh                             1218 non-null   int64
 3   Self Isolation                     1218 non-null   int64
 4   Masih Perawatan                    1218 non-null   int64
 5   Total Pasien                       1218 non-null   int64
 6   Positif Harian                     1218 non-null   int64
 7   Positif Aktif                      1218 non-null   int64
 8   Sembuh Harian                      1218 non-null   int64
 9   Tanpa Gejala                       1218 non-null   float64
 10  Bergejala                          1218 non-null   float64
 11  Belum Ada Data                     1218 non-null   float64
 12  Total Discarded                    1218 non-null   float64
 13  Discarded-IRS                      1218 non-null   float64
 14  Discarded-IR                       1218 non-null   float64
 15  Discarded-Meninggal                1218 non-null   float64
 16  Discarded-Selesai Isolasi          1218 non-null   float64
 17  Total Kontak Erat                  1218 non-null   float64
 18  Kontak Erat-IRS                    1218 non-null   float64
 19  Kontak Erat-IR                     1218 non-null   float64
 20  Kontak Erat-Meninggal              1218 non-null   float64
 21  Kontak Erat- Selesai Isolasi       1218 non-null   float64
 22  Total Pelaku Perjalanan            1218 non-null   float64
 23  Pelaku Perjalanan-IRS              1218 non-null   float64
 24  Pelaku Perjalanan-IR               1218 non-null   float64
 25  Pelaku Perjalanan-Meninggal        1218 non-null   float64
 26  Pelaku Perjalanan-Selesai Isolasi  1218 non-null   float64
 27  Total Probable                     1218 non-null   float64
 28  Probable-IRS                       1218 non-null   float64
 29  Probable-IR                        1218 non-null   float64
 30  Probable-Meninggal                 1218 non-null   float64
 31  Probable-Selesai Isolasi           1218 non-null   float64
 32  Total Suspek                       1218 non-null   float64
 33  Suspek-IRS                         1218 non-null   float64
 34  Suspek-IR                          1218 non-null   float64
 35  Suspek-Meninggal                   1218 non-null   float64
 36  Suspek-Selesai Isolasi             1218 non-null   float64
 37  GRAND TOTAL Data-Suspek            1218 non-null   float64
 38  Jumlah Orang di Test               1218 non-null   float64
 39  Orang Positif Harian               1218 non-null   float64
 40  Orang Negatif Harian               1218 non-null   float64
 41  Positivity Rate Kasus Baru Harian  1218 non-null   object
 42  Total Spesimen di Test             1218 non-null   float64
 43  Positif                            1218 non-null   float64
 44  Negatif                            1218 non-null   float64
 45  Positivity Rate Spesimen Harian    1218 non-null   object
 46  Jumlah Laporan Pemakaman           1218 non-null   float64
 47  Akumulasi Pemakaman                1218 non-null   float64
 48  Harian Pemakaman Umum              1218 non-null   float64
 49  Total Pemakaman Umum               1218 non-null   float64
dtypes: float64(39), int64(8), object(3)
memory usage: 475.9+ KB

In [38]:
data_inti_ver4['Tanggal'] = pd.to_datetime(data_inti_ver4['Tanggal'], format="%Y-%m-%d")

In [39]:
# Menggabungkan data menggunakan metode left join
merged_data = pd.merge(data_inti_ver4, data_rdt, on='Tanggal', how='left')

# Mengisi nilai NaN dengan 0
merged_data = merged_data.fillna(0)

# Menyimpan hasil penggabungan ke file CSV
merged_data.to_csv('data-inti-v4-rdt.csv', index=False)
# merged_data.head()

## last merger : data vaksinasi dengan data-inti-v4-rdt

In [40]:
data_vaksinasi = pd.read_csv('vaksinasi.csv')
data_vaksinasi.head()

,Tanggal,TV Nakes,V1 Nakes,V2 Nakes,P1 Nakes,P2 Nakes,TV Lansia,V1 Lansia,V2 Lansia,P1 Lansia,...,PVJ D1,PVJ D2,VGR V1,VGR V2,V3 Nakes,V3 MU,V3 Lansia,V4 Nakes,V4 MU,V4 Lansia
0,5-Mar-21,112301.0,141425.0,91078.0,125.90%,81.10%,911631.0,76451.0,0.0,8.39%,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,6-Mar-21,112301.0,144046.0,91379.0,128.30%,81.40%,911631.0,79421.0,0.0,8.71%,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,7-Mar-21,112301.0,177126.0,91460.0,157.70%,81.40%,911631.0,83628.0,0.0,9.17%,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,8-Mar-21,112301.0,181237.0,92988.0,161.40%,82.80%,911631.0,95140.0,1.0,10.44%,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,9-Mar-21,112301.0,113326.0,89984.0,100.90%,80.10%,911631.0,135128.0,675.0,14.82%,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
data_vaksinasi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851 entries, 0 to 850
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tanggal         849 non-null    object
 1   TV Nakes        849 non-null    float64
 2   V1 Nakes        849 non-null    float64
 3   V2 Nakes        849 non-null    float64
 4   P1 Nakes        849 non-null    object
 5   P2 Nakes        849 non-null    object
 6   TV Lansia       849 non-null    float64
 7   V1 Lansia       849 non-null    float64
 8   V2 Lansia       849 non-null    float64
 9   P1 Lansia       849 non-null    object
 10  P2 Lansia       849 non-null    object
 11  TV MU           849 non-null    float64
 12  V1 MU           849 non-null    float64
 13  V2 MU           849 non-null    float64
 14  P1 MU           849 non-null    object
 15  P2 MU           849 non-null    object
 16  TV DKI Total    849 non-null    float64
 17  V1 DKI Total    849 non-null    float64
 18  V2 DKI Total    849 non-null    float64
 19  P1 DKI Total    849 non-null    object
 20  P2 DKI total    849 non-null    object
 21  V1H             748 non-null    float64
 22  V2H             744 non-null    float64
 23  TV usia_atas    744 non-null    float64
 24  V1 usia_atas    744 non-null    float64
 25  V2 usia_atas    744 non-null    float64
 26  P1 usia_atas    744 non-null    object
 27  P2 usia_atas    744 non-null    object
 28  TV usia_tengah  731 non-null    float64
 29  V1 usia_tengah  731 non-null    float64
 30  V2 usia_tengah  731 non-null    float64
 31  P1 usia_tengah  731 non-null    object
 32  P2 usia_tengah  731 non-null    object
 33  TV usia_muda    559 non-null    float64
 34  V1 usia_muda    559 non-null    float64
 35  V2 usia_muda    559 non-null    float64
 36  P1 usia_muda    559 non-null    object
 37  P2 usia_muda    559 non-null    object
 38  PVJ D1          744 non-null    object
 39  PVJ D2          744 non-null    object
 40  VGR V1          849 non-null    float64
 41  VGR V2          849 non-null    float64
 42  V3 Nakes        535 non-null    object
 43  V3 MU           534 non-null    float64
 44  V3 Lansia       367 non-null    object
 45  V4 Nakes        222 non-null    object
 46  V4 MU           152 non-null    float64
 47  V4 Lansia       222 non-null    object
dtypes: float64(27), object(21)
memory usage: 319.2+ KB

In [42]:
data_vaksinasi['Tanggal'] = pd.to_datetime(data_vaksinasi['Tanggal'], format="%d-%b-%y")

In [43]:
# read data-inti-v4-rdt.csv
data_inti_ver5 = pd.read_csv('data-inti-v4-rdt.csv')
data_inti_ver5.head()

,Tanggal,Meninggal,Sembuh,Self Isolation,Masih Perawatan,Total Pasien,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,...,Negatif,Positivity Rate Spesimen Harian,Jumlah Laporan Pemakaman,Akumulasi Pemakaman,Harian Pemakaman Umum,Total Pemakaman Umum,Reaktif,Non-Reaktif,Total,Reaktif Positivity Rate
0,2020-03-01,0,0,0,0,0,0,0,0,0.0,...,39.0,0.0%,0.0,0.0,150.0,150.0,0.0,0.0,0.0,0
1,2020-03-02,0,0,0,0,0,0,0,0,0.0,...,3.0,0.0%,0.0,0.0,136.0,286.0,0.0,0.0,0.0,0
2,2020-03-03,1,0,0,2,3,3,2,0,0.0,...,12.0,20.0%,0.0,0.0,135.0,421.0,0.0,0.0,0.0,0
3,2020-03-04,1,0,0,2,3,0,2,0,0.0,...,7.0,0.0%,0.0,0.0,116.0,537.0,0.0,0.0,0.0,0
4,2020-03-05,3,0,0,4,7,4,4,0,0.0,...,0.0,0,0.0,0.0,124.0,661.0,0.0,0.0,0.0,0

In [44]:
data_inti_ver5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 54 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            1218 non-null   object
 1   Meninggal                          1218 non-null   int64
 2   Sembuh                             1218 non-null   int64
 3   Self Isolation                     1218 non-null   int64
 4   Masih Perawatan                    1218 non-null   int64
 5   Total Pasien                       1218 non-null   int64
 6   Positif Harian                     1218 non-null   int64
 7   Positif Aktif                      1218 non-null   int64
 8   Sembuh Harian                      1218 non-null   int64
 9   Tanpa Gejala                       1218 non-null   float64
 10  Bergejala                          1218 non-null   float64
 11  Belum Ada Data                     1218 non-null   float64
 12  Total Discarded                    1218 non-null   float64
 13  Discarded-IRS                      1218 non-null   float64
 14  Discarded-IR                       1218 non-null   float64
 15  Discarded-Meninggal                1218 non-null   float64
 16  Discarded-Selesai Isolasi          1218 non-null   float64
 17  Total Kontak Erat                  1218 non-null   float64
 18  Kontak Erat-IRS                    1218 non-null   float64
 19  Kontak Erat-IR                     1218 non-null   float64
 20  Kontak Erat-Meninggal              1218 non-null   float64
 21  Kontak Erat- Selesai Isolasi       1218 non-null   float64
 22  Total Pelaku Perjalanan            1218 non-null   float64
 23  Pelaku Perjalanan-IRS              1218 non-null   float64
 24  Pelaku Perjalanan-IR               1218 non-null   float64
 25  Pelaku Perjalanan-Meninggal        1218 non-null   float64
 26  Pelaku Perjalanan-Selesai Isolasi  1218 non-null   float64
 27  Total Probable                     1218 non-null   float64
 28  Probable-IRS                       1218 non-null   float64
 29  Probable-IR                        1218 non-null   float64
 30  Probable-Meninggal                 1218 non-null   float64
 31  Probable-Selesai Isolasi           1218 non-null   float64
 32  Total Suspek                       1218 non-null   float64
 33  Suspek-IRS                         1218 non-null   float64
 34  Suspek-IR                          1218 non-null   float64
 35  Suspek-Meninggal                   1218 non-null   float64
 36  Suspek-Selesai Isolasi             1218 non-null   float64
 37  GRAND TOTAL Data-Suspek            1218 non-null   float64
 38  Jumlah Orang di Test               1218 non-null   float64
 39  Orang Positif Harian               1218 non-null   float64
 40  Orang Negatif Harian               1218 non-null   float64
 41  Positivity Rate Kasus Baru Harian  1218 non-null   object
 42  Total Spesimen di Test             1218 non-null   float64
 43  Positif                            1218 non-null   float64
 44  Negatif                            1218 non-null   float64
 45  Positivity Rate Spesimen Harian    1218 non-null   object
 46  Jumlah Laporan Pemakaman           1218 non-null   float64
 47  Akumulasi Pemakaman                1218 non-null   float64
 48  Harian Pemakaman Umum              1218 non-null   float64
 49  Total Pemakaman Umum               1218 non-null   float64
 50  Reaktif                            1218 non-null   float64
 51  Non-Reaktif                        1218 non-null   float64
 52  Total                              1218 non-null   float64
 53  Reaktif Positivity Rate            1218 non-null   object
dtypes: float64(42), int64(8), object(4)
memory usage: 514.0+ KB

In [45]:
data_inti_ver5['Tanggal'] = pd.to_datetime(data_inti_ver5['Tanggal'], format="%Y-%m-%d")

In [46]:
# Menggabungkan data menggunakan metode left join
merged_data = pd.merge(data_inti_ver5, data_vaksinasi, on='Tanggal', how='left')

# Mengisi nilai NaN dengan 0
merged_data = merged_data.fillna(0)

# Menyimpan hasil penggabungan ke file CSV
merged_data.to_csv('data-inti-final.csv', index=False)
# merged_data.head()

## data-inti-final.csv siap digunakan
### bismillah